@model ContactDto
@{
    Layout = "_Layout";
}
<header class="logoAndmenu">
    <section class="header">
        <div class="logo-img">
            <a href="" class="logo-link">
                <img class="logo" src="/images/Photo/logo.png" alt="logo">
            </a>
        </div>
        <div class="menu">
            <a asp-controller="Home" asp-action="Index">Home</a>
            <a id="first" asp-controller="OurMenu" asp-action="Index">Our Menu</a>
            <a asp-controller="About" asp-action="Index">About</a>
            <a asp-controller="Gallery" asp-action="Index">Gallery</a>
            <a asp-controller="Contact" asp-action="Answer">Contact</a>
            <a asp-controller="Order" asp-action="Index">Order</a>
        </div>
    </section>
</header>
<main>
    <section class="Abouts">
        <div class="about-container">
            <div class="abouts">
                <h2 class="about-title-header">
                    Contact
                </h2>
            </div>
        </div>
    </section>
    <section class="Contact">
        <form method="post" asp-action="answer">
            <div class="container-contact">
                <div class="row contacts-info col-md-12">
                    <div class="contactsinfo col-md-6">
                        <h3 class="contact-title">Get in touch</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing <br> elit. Ut elit tellus, luctus nec
                            ullamcorper.
                        </p>
                        <ul>
                            <li class="contact-icon-list">
                                <a href="#">
                                    <span class="contact-icon">
                                        <i aria-hidden="true" class="fas fa-phone-alt"></i>
                                    </span>
                                    <span class="contact-list-text">929-242-6868</span>
                                </a>
                            </li>
                            <li class="contact-icon-list">
                                <a href="#">
                                    <span class="contact-icon">
                                        <i aria-hidden="true" class="fas fa-envelope"></i>
                                    </span>
                                    <span class="contact-list-text">contact@info.com</span>
                                </a>
                            </li>
                            <li class="contact-icon-list">
                                <a href="#">
                                    <span class="contact-icon">
                                        <i aria-hidden="true" class="fas fa-map-marker-alt"></i>
                                    </span>
                                    <span class="contact-list-text">123 Fifth Avenue, New York, NY 10160</span>
                                </a>
                            </li>
                        </ul>
                        <div class="socical-icon">
                                <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                <a href="#"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                    </div>

                    <div class="contactsinfo col-md-6">
                                 @if (!string.IsNullOrWhiteSpace(ViewBag.msg))
                            {
                                <div class="contactinfo" style="color:white; display:block; width:100%;">
                              @ViewBag.msg
                                </div>
                            }
                        <div class="contactinfo d-flex">
                   
                            <div class="nameinfo">
                                <input type="text" asp-for="FirstName" id="first01" class="nametext" placeholder="First Name" required=""
                                       aria-invalid="false">
                                <label for="first01" class="name-text"></label>
                            </div>
                            <div class="nameinfo">
                                <input type="text" id="last01" class="surnametext" asp-for="LastName" placeholder="Last Name" required=""
                                       aria-invalid="false">
                                <label for="last01" class="name-text"></label>
                            </div>
                        </div>
                        <div class="mailinfo">
                            <input type="email" asp-for="Email" id="mail01" class="mailtext" placeholder="Email Address" required="">
                            <label for="mail01" class="mail-text"></label>
                        </div>
                        <div class="messageinfo">
                            <input type="text" asp-for="Description" id="message01" class="messagetext" placeholder="Your Message"
                                   required="">
                            <label for="message01" class="message-text"></label>
                        </div>
                        <div class="sendinfo">
                            <button type="submit" class="buttontext">Send Message</button>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </section>
    <section class="Location">
        <div class="container-location">
            <div class="row">
                <iframe loading="lazy" src="https://maps.google.com/maps?q=London%20Eye%2C%20London%2C%20United%20Kingdom&amp;t=m&amp;z=10&amp;output=embed&amp;iwloc=near" title="London Eye, London, United Kingdom" aria-label="London Eye, London, United Kingdom"></iframe>
            </div>
        </div>
    </section>
</main>