@model RoleViewModel
@{
    ViewData["Title"] = "RoleDelete";
}

<div class="layout-px-spacing">
    <div class="row layout-top-spacing">
        <form method="post" enctype="multipart/form-data" class="mt-3 my-5 mx-3">
            <div class="row col-12">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input readonly asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row col-12 mt-3">
                <div class="col-md-2 control-label">
                    @Html.ActionLink("Return to list", "RoleIndex", "UserManagment", null, new { @class = "btn btn-info" })
                </div>
                <div class="col-md-4 control-label">
                    <input id="frmProduct" type="submit" value="Delete" class="btn btn-success" tabindex="16" />
                </div>
            </div>
        </form>
    </div>
</div>