<header class="logoAndmenu">
    <section class="header">
        <div class="logo-img">
            <a href="" class="logo-link">
                <img class="logo" src="/images/Photo/logo.png" alt="logo">
            </a>
        </div>
        <div class="menu">
            <a asp-controller="Home" asp-action="Index">Home</a>
            <a id="first" asp-controller="OurMenu" asp-action="Index">Our Menu</a>
            <a asp-controller="About" asp-action="Index">About</a>
            <a asp-controller="Gallery" asp-action="Index">Gallery</a>
            <a asp-controller="Contact" asp-action="Answer">Contact</a>
            <a asp-controller="Order" asp-action="Index">Order</a>
        </div>
    </section>
</header>
<main>
    <section class="Abouts">
        <div class="about-container">
            <div class="abouts">
                <h2 class="gallery-title-header">
                    Gallery
                </h2>
            </div>
        </div>
    </section>
    <section class="Gallery">
        <div class="container-gallery">
            <div class="row gallery col-md-12">
                <div class="gallery-img col-md-6" style="width:48% !important ;">
                    <img class="galleryimg" src="/images/Photo/gallery-1.jpg" alt="">
                </div>
                <div class="gallery-img col-md-3">
                    <img class="galleryimg" src="/images/Photo/gallery-2.jpg" alt="">
                </div>
                <div class="gallery-img col-md-3">
                    <img class="galleryimg" src="/images/Photo/gallery-3.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="containergallery">
            <div class="row gallery-row col-md-12">
                <div class="gallery-img col-md-4">
                    <img class="galleryimg" src="/images/Photo/Gallery/gallery-01-img.jpg" alt="">
                </div>
                <div class="gallery-img col-md-4">
                    <img class="galleryimg" src="/images/Photo/Gallery/gallery-02-img.jpg" alt="">
                </div>
                <div class="gallery-img col-md-4">
                    <img class="galleryimg" src="/images/Photo/Gallery/gallery-03-img.jpg" alt="">
                </div>
            </div>
            <div class="row gallery-row col-md-12">
                <div class="gallery-img col-md-4">
                    <img class="galleryimg" src="/images/Photo/Gallery/gallery-04-mg.jpg" alt="">
                </div>
                <div class="gallery-img col-md-4">
                    <img class="galleryimg" src="/images/Photo/Gallery/gallery-05-img.jpg" alt="">
                </div>
                <div class="gallery-img col-md-4">
                    <img class="galleryimg" src="/images/Photo/Gallery/gallery-06-img.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
</main>